/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* tablet & mobile */
@media (max-width: 991.98px) {
  /*1 ẩn navbar */
  .navbar {
    display: none;
  }
  /*2 chuyen logo vao giua */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /*3 canh lại vi tri menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  /* 4 overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0; /*tạo 1 lớp phủ*/
    z-index: 1; /*ưu tiên cao hơn 1 lớp*/
    /* điều kiện bình thường ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* 5 kiem tra neu checkbox được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 6 code cho menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: rgb(88, 87, 87);
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* 7 kiểm tra nếu checkbox được check hiện menu*/
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* 8 menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .nav__link {
    display: block;
    font-size: 2rem;
  }
  .nav__link:hover {
    background-color: #0f0f0f;
  }
  /* hero */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__content {
    order: 2;
    width: 80%;
    text-align: center;
    margin: 20px auto;
  }
  .hero__media {
    order: 1;
  }
  .hero__row {
    justify-content: center;
  }
  /* service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img {
    width: 100%;
  }
  .service__list {
    text-align: center;
  }
  .service-item {
    width: 90%;
    text-align: start;
  }
  /* work & about */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__media {
    width: 100%;
  }
  .about__img--small {
    display: none;
  }
  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }
  .about-content {
    width: 100%;
  }
  /* team */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-item__thumb {
    margin: 0 auto;
  }
  /* install */
  .install__img {
    display: none;
  }
  .install__content {
    width: 100%;
    margin: 0 auto;
  }
  /* blog */
  .blog__inner {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .blog__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__heading {
    /* max-width: 90%; */
    text-align: center;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-hidden-tablet {
    display: none;
  }
  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
  .show-on-mobile {
    display: none;
  }
}
/* mobile */
@media (max-width: 767.98px) {
  .header__action {
    display: none;
  }
  .menu-header__icon {
    top: 16px;
  }
  .menu-drawer {
    inset: 0 20% 0 0;
    padding: 40px;
  }
  .nav__item {
    list-style-type: none;
  }
  .separate {
    border-top: 1.5px solid #8c8b8b;
    margin-top: 10px;
  }
  .hero__img--small {
    display: none;
  }
  .hero__img--large {
    width: 100%;
    height: auto;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service {
    padding: 70px 0;
  }
  .section-desc {
    width: 95%;
  }
  .service__img {
    height: auto;
  }
  .work__desc {
    width: 100%;
  }
  .work-item {
    padding: 20px;
  }
  .about {
    margin-top: 20px;
    padding: 30px;
  }
  .about-content {
    text-align: center;
  }
  .section-heading {
    font-size: 3rem;
  }
  .team__list {
    grid-template-columns: 1fr;
  }
  .install {
    padding: 40px 0;
  }
  .install__inner {
    margin: 30px 0;
    padding: 0 8px;
  }
  .install__content {
    min-width: 250px;
    justify-content: center;
  }
  .install__desc {
    font-size: 1.3rem;
  }
  .blog {
    padding: 40px 0;
  }
  .blog__list {
    flex-direction: column;
    row-gap: 20px;
  }
  .appoinment__inner {
    padding: 30px 4px;
  }
  .footer {
    margin-top: 50px;
    padding-top: 30px;
  }
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .footer__copyright {
    margin-top: 20px;
  }
}
