* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
  --text-color: #575f66;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* =========common=========== */
.container {
  width: 1170px;
  max-width: calc(
    100% - 48px
  ); /* khi thu nhỏ chiều rộng trang web để nội dung cách le trai và le phai 1 khoang cách 24px*/
  margin: 0 auto; /* nội dung canh giữa*/
}

a {
  text-decoration: none; /*bỏ gạch chân thẻ a*/
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  color: var(--header-bg);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
/* =========header=========== */
.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between; /* dàn đều nội dung*/
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.nav__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.nav__link:hover,                           /*gán thuộc tính hover có bóng giống Home*/
.nav__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #ffffff;
}

.nav__link--active::before {
  /* nut  trước chữ Home*/
  content: "";
  display: inline-block; /*dung de nhap kich thuoc vao vi thẻ inline nên k can thiep kich thuoc*/
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
  top: -3px; /*vị tri nut ben chu Home*/
  position: relative; /*vị tri nut ben chu Home*/
  right: 8px; /*vị tri nut ben chu Home*/
}
.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px; /*theo nav__link có padding trai phai 21px nen thêm right 7px la đu 28px*/
}
/* ===========hero============= */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%; /* lay chieu rong anh la 517/1170 la chieu rong trang*/
}
.hero__media {
  flex: 1; /*chieu rong khoi phai bang khong gian con lai (1170-517)*/
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end; /*dich anh qua canh phai*/
}
.hero__img {
  border-radius: 6px;
  object-fit: cover; /*de khong bi meo anh*/
}
.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px; /*giua 2 anh co 1 khoang trồng lên nhau 6px*/
  z-index: 1; /*ảnh 1 trồng lên trên ảnh 2*/
}
.hero__img--small {
  width: 210px;
  height: 410px;
}
/* ==========main========== */
.service {
  padding: 170px 0;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 40%;
  margin: 0 auto; /*vi thẻ p là block line nen chiếm hết chiều ngang khi ta giới hạn độ rộng thì dùng margin auto de canh giau*/
}
.service__row {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  padding: 21px;
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}
.service-item:hover {
  position: relative; /*làm  cho element nổi lển khỏi mặt phẳng*/
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center; /*canh giua theo chieu ngang*/
  align-items: center; /*canh giua theo chieu dọc*/
  flex-shrink: 0; /*làm cho border k bi méo*/
  margin-right: 19px;
  transition: 0.25s; /*thời gian đổi màu chậm lại*/
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service__btn {
  margin-top: 55px;
}
