* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
  --text-color: #575f66;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* =========common=========== */
.container {
  width: 1170px;
  max-width: calc(
    100% - 48px
  ); /* khi thu nhỏ chiều rộng trang web để nội dung cách le trai và le phai 1 khoang cách 24px*/
  margin: 0 auto; /* nội dung canh giữa*/
}

a {
  text-decoration: none; /*bỏ gạch chân thẻ a*/
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  color: var(--header-bg);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  border: 1px solid #575f66;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}
/* =========header=========== */
.header {
  padding-top: 30px;
  background: var(--header-bg);
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between; /* dàn đều nội dung*/
  align-items: center;
}
.navbar__list {
  display: flex;
}
.header__action--login,
.nav__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.nav__link:hover,                           /*gán thuộc tính hover có bóng giống Home*/
.nav__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #ffffff;
}

.nav__link--active::before {
  /* nut  trước chữ Home*/
  content: "";
  display: inline-block; /*dung de nhap kich thuoc vao vi thẻ inline nên k can thiep kich thuoc*/
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
  top: -3px; /*vị tri nut ben chu Home*/
  position: relative; /*vị tri nut ben chu Home*/
  right: 8px; /*vị tri nut ben chu Home*/
}
.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}
.header__action--login {
  margin-right: 7px; /*theo nav__link có padding trai phai 21px nen thêm right 7px la đu 28px*/
}
/* ===========hero============= */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%; /* lay chieu rong anh la 517/1170 la chieu rong trang*/
}
.hero__media {
  flex: 1; /*chieu rong khoi phai bang khong gian con lai (1170-517)*/
}
.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end; /*dich anh qua canh phai*/
}
.hero__img {
  border-radius: 6px;
  object-fit: cover; /*de khong bi meo anh*/
}
.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px; /*giua 2 anh co 1 khoang trồng lên nhau 6px*/
  z-index: 1; /*ảnh 1 trồng lên trên ảnh 2*/
}
.hero__img--small {
  width: 210px;
  height: 410px;
}
/* ==========main========== */
.service {
  padding: 170px 0;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  width: 40%;
  margin: 18px auto 0; /*vi thẻ p là block line nen chiếm hết chiều ngang khi ta giới hạn độ rộng thì dùng margin auto de canh giau*/
}
.service__row {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  padding: 21px;
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}
.service-item:hover {
  position: relative; /*làm  cho element nổi lển khỏi mặt phẳng*/
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center; /*canh giua theo chieu ngang*/
  align-items: center; /*canh giua theo chieu dọc*/
  flex-shrink: 0; /*làm cho border k bi méo*/
  margin-right: 19px;
  transition: 0.25s; /*thời gian đổi màu chậm lại*/
}
.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service__btn {
  margin-top: 55px;
}
/* ==========work============ */
.work {
  background: #f6fbff;
  padding: 100px 0;
}
.work__desc {
  width: 468px;
}
.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 86px;
}
.work-item {
  padding: 43px 42px;
  height: 402px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  background: #fff;
  transition: 0.25s;
}
.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px); /*item di chuyen len 16px*/
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.work-item__more {
  margin-top: 18px;
  display: inline-block; /*do thẻ a là inline nen dung margin top k ăn phai dung them display*/
  color: #2e80ce;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
/* ===========about============= */
.about {
  margin-top: 85px;
  padding: 85px 0 206px; /*do hinh nho thap xuong 121px nen canh duoi 85+121=206px*/
}
.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__media {
  width: 49%;
}
.about-content {
  width: 40%;
}
.about__img {
  position: relative;
}
.about_img--big {
  display: block;
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about_img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  object-fit: cover;
  width: 332px;
  height: 370px;
  border-radius: 6px;
}
.about-content__btn {
  margin-top: 38px;
}
/* ==============team============= */
.team {
  padding: 85px 0;
}
.team-header {
  text-align: center;
  margin: 0 auto;
}
.team__cta {
  margin-top: 38px;
}
.team__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  padding: 28px 4px 0;
  display: block;
  transition: 0.5s;
}
.team-item__img--bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}

.team-item:hover,
.team-item__thumb {
  transform: scale(1.1);
}
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}
.team__control {
  margin-top: 38px;
  justify-content: center;
}
.control-icon--next {
  rotate: 180deg;
}
/* =============install mobile================= */
.install {
  padding: 85px 0;
}
.install__inner {
  position: relative;
  height: 427px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  border-radius: 4px;
  background: #2e80ce;
}

.install__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  object-fit: cover;
}
.install__content {
  max-width: 586px;
}
.install__heading {
  max-width: 489px;
  color: #fff;
}
.install__desc {
  color: #fff;
}
.install__row {
  display: flex;
  column-gap: 28px;
  align-items: center;
  margin-top: 28px;
  color: #ffffff;
}
.install__btn-img {
  width: 135px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
}
/* =============blog============ */
.blog {
  padding: 85px 0;
  background: #fff;
}
.blog__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog__content {
  max-width: 470px;
}
.blog__more {
  display: flex;
  margin-top: 28px;
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-underline-offset: 5px;
}
.blog__control {
  margin-top: 28px;
}
.blog__list {
  display: flex;
  column-gap: 30px;
  max-width: 570px;
}
.blog-item {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
}
.blog-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
}
.blog-item__thumb {
  transition: 0.5s;
  width: 270px;
  height: 172px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.blog-item__wrap {
  max-height: 172px;
  overflow: hidden;
}
.blog-item__body {
  margin: 18px 22px 21px;
}
.blog-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.63; /* 162.5% */
}
.blog-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}
.blog-item__more {
  display: block;
  margin-top: 12px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #10375c;
}
.blog-item__more:hover {
  color: #2e80ce;
}
/* ===========appoinment============ */
.appoinment {
  padding: 85px 0;
}
.appoinment__inner {
  padding: 100px 178px;
  text-align: center;
  background: #f6fbff;
}
.appoinment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}
.appoinment__desc {
  max-width: 617px;
  margin: 18px auto 0;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.appoinment__btn {
  margin-top: 38px;
}
